﻿<!DOCTYPE html>
<html lang="en">

@model TesteWeb.Models.Product

@{
    ViewData["Title"] = "Produtos e Insumos";
}

<h2>Preencha todos os dados corretamente abaixo:</h2>
<br />

<hr />
<body>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Produto" class="control-label"></label>
                    <input type="text" asp-for="Produto" class="form-control" />
                    <span asp-validation-for="Produto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Preço" class="control-label"></label>
                    <input asp-for="Preço" class="form-control" />
                    <span asp-validation-for="Preço" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OBS" class="control-label"></label>
                    <input asp-for="OBS" class="form-control" />
                    <span asp-validation-for="OBS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Voltar</a>
    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</html>