﻿
@model IEnumerable<TesteWeb.Models.Product>

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<br><br>
<p>
    &nbsp;&nbsp;<input class="btn btn-success" type="button" value="Novo" onclick="location.href='@Url.Action("Create")'" />
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preço)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OBS)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preço)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OBS)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" input class="btn btn-primary" type="button" value="Editar">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" input class="btn btn-info" type="button" value="Listar">Listar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" input class="btn btn-danger" type="button" value="Excluir">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>