﻿@model TesteWeb.Models.Seller

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista de funcionários</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
