﻿@model IEnumerable<TesteWeb.Models.Seller>

@{
    ViewData["Title"] = "Novo";
}
<br><br>
<p>
    &nbsp;&nbsp;<input class="btn btn-success" type="button" value="Novo" onclick="location.href='@Url.Action("Create")'" />
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" input class="btn btn-primary" type="button" value="Editar">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" input class="btn btn-info" type="button" value="Listar">Listar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" input class="btn btn-danger" type="button" value="Excluir">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
