﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<title>@ViewData["Title"] - Sir Stakehouse</title>-->

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>    
    <div class="navigation">
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">
                    <span class="icon"> <i class="fa fa-dashboard" aria-hidden="true"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="Products" asp-action="Index">
                    <span class="icon"> <i class="fa fa-list-alt" aria-hidden="true"></i></span>
                    <span class="title">Produtos</span>
                </a>
            </li>
            <li>
                <a asp-controller="Sellers" asp-action="Index">
                    <span class="icon"> <i class="fa fa-users" aria-hidden="true"></i></span>
                    <span class="title">Funcionários</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"> <i class="fa fa-list" aria-hidden="true"></i></span>
                    <span class="title">Pedidos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"> <i class="fa fa-user-plus" aria-hidden="true"></i></span>
                    <span class="title">Clientes</span>
                </a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Login">
                    <span class="icon"> <i class="fa fa-power-off" aria-hidden="true"></i></span>
                    <span class="title">Sair</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="toggle" onclick="toggleMenu()"></div> <!--Chamando menu de navegação-->

    <script type="text/javascript">
        function toggleMenu() {
            let toggle = document.querySelector('.navigation');
            toggle.classList.toggle('active');

        }
    </script>

    <div class="container">        
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        &copy; 2021 <a asp-controller="Home" asp-action="Index">Sir Stakehouse - Todos os direitos reservados.</a>
    </footer>

    <script src="~/lib/bootstrap/dist/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)  <!--Seção de script a ser renderizado-->

</body>
</html>