﻿
@{
    Layout = null; // Layout dashboard não será exibido.
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sir Stakehouse</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/FormLogin.css" rel="stylesheet" />

</head>

<body>
    <div class="wrapper">
        <br>
        <h3>Login</h3>
        <form action="#">
            <div class="row">
                <i class="fa fa-user"></i>
                <input type="email" placeholder="Informe um e-mail válido..." />
            </div>
            <div class="row">
                <i class="fa fa-key"></i>
                <input type="password" placeholder="Informe uma senha válida..." />
            </div><br>
            <div class="row">
                <input class="btnSubmit btn-info" type="submit" value="Entrar">
            </div>
        </form>
    </div>

    <footer class="footer">
        &copy; 2021 <a asp-controller="Home" asp-action="Login">Sir Stakehouse - Todos os direitos reservados.</a>
    </footer>

    <script src="~/lib/bootstrap/dist/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>