﻿
@model TesteWeb.Models.SuccessViewModel

        <h1 class="text-success">@Model.MsgSuccess</h1>
        
        <!--Temporizador da página após o cadastro e atualiza dinamicamente voltando pra index -->
        <script type="text/javascript">

            (function () {
                setTimeout(function ()
                {
                    window.location = "https://localhost:44311";
                }, 2000); /* 2000ms == 2 segundos*/
            })();

        </script>